# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Release
/spec.d
/arduino
/.build

src/.clang_complete

src/.gcc-flags.json

src/.pioenvs/.sconsign.dblite

src/.pioenvs/do-not-modify-files-here.url

src/.pioenvs/megaatmega2560/firmware.elf

src/.pioenvs/megaatmega2560/firmware.hex

src/.pioenvs/structure.hash
